@import '../../styles/mixins.scss';

.box {
    background-color: #ffff;
    padding: 2rem;
    display: grid;
    min-height: 30%;
    border-radius: 5px;
    place-content: start;
    position: relative;
    outline: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &__moreIcon {
        position: absolute !important   ;
        top: .5rem;
        right: 1rem;
        background-color: transparent;
        border: none;
        padding: 5px;
        border-radius: 50px;

        &:hover {
            cursor: pointer;
            background-color: rgb(170, 170, 170);
        }
    }

    &__type {
        color: rgb(179, 179, 179);
        margin: 0;
    }

    &__title {
        margin-bottom: 2rem;
    }

    &__hr {
        background-color: rgb(34, 34, 34);
        border-radius: 1rem;
    }

    &__description {
        font-size: 1rem;
        padding-right: 5rem;
    }

    &__btn-group {
        margin-top: 2rem;
    }
  
    @include for-phone-only {
        width: 100%;
    }

    @include for-tablet-portrait-up {
        width: 30rem;
        padding: 2rem;
    }

}

.menu {

    ul {
        padding: 0;
    }

    p {
        font-size: .8rem;
    }
}